<section class="fa-nexus-height-debug">
  <div class="fa-nexus-height-debug__controls">
    <label class="fa-nexus-height-debug__color">
      <span>Background</span>
      <input type="color" data-fa-nexus-height-debug-background>
    </label>
    <label class="fa-nexus-height-debug__toggle">
      <input type="checkbox" data-fa-nexus-height-debug-colors>
      <span>Debug Colors</span>
    </label>
  </div>
  <div class="fa-nexus-height-debug__preview" data-fa-nexus-height-debug-preview>
    <img class="fa-nexus-height-debug__image" data-fa-nexus-height-debug-tile alt="Height map preview" hidden>
  </div>
</section>
